[package]
name = "gd_sfx"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.21.5"
reqwest = { version = "0.11.23", features = ["blocking"] }
xor_cryptor = "1.1.0"
