on:
  # release build
  release:
    types: [created]

jobs:
  build:
    name: release ${{ matrix.target }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            archive: zip
            extra_files:
              gdsfx-audio/include/windows/fmod_vc.lib
              gdsfx-audio/include/windows/fmod.dll
              gdsfx-audio/include/windows/fmodstudio_vc.lib
              gdsfx-audio/include/windows/fmodstudio.dll
          - target: x86_64-unknown-linux-musl
            archive: tar.gz tar.xz tar.zst
            run:
              sudo apt-get -y install
              libglib2.0-dev
              pkg-config
              libssl-dev
              libatk1.0-0
              libgtk-3-dev
          - target: x86_64-apple-darwin
            archive: zip
    steps:
      # dependencies for the linux build (this is done uselessly on any platform that doesn't compile to linux)
      - run: ${{ matrix.run }}

      - uses: actions/checkout@master
      - name: Compile and release
        uses: rust-build/rust-build.action@v1.4.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          RUSTTARGET: ${{ matrix.target }}
          EXTRA_FILES: ${{ matrix.extra_files }}
          ARCHIVE_TYPES: ${{ matrix.archive }}
          TOOLCHAIN_VERSION: stable
          UPLOAD_MODE: release
